
.input_login{
  width: 100%;
}

.cuadro_imagen{
  width: 230px;
  height: 200px;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.caja_form{
  background: linear-gradient(rgb(36, 156, 204), rgb(219, 177, 184));
  box-shadow: 0px 0px 2px 2px white;
}
